html, body{min-height: 100%; height: 100%; font-size: 9pt;}

body {margin: 0; padding: 0; text-align:center; font-family: Arial, Sans-Serif;}
 
form {display:block; width: 780px; background:white; margin:0 auto; text-align:left; padding: 0 10px; min-height: 100%;}

h1, h2 {color: #304985; margin: 0; padding: 10px 0 5px; font-size: 18px; font-weight: normal;}
h2 {font-size: 13px; font-weight:bold; padding: 0; margin: 10px 0 5px;}
h2 span {color:Black;}

.totals, .district {background: #304985; color:White; text-transform:uppercase; font-weight:bold;padding: 1px;}
.district {font-size: 18px;}

.alt {background: #eee;}

table {width:100%;border:0;border-collapse:collapse; vertical-align: middle;}

th {font-size: 7pt;} 

.choice1 {margin: 0 0 10px 30px; width: 750px;}
.choice {margin: 0 0 10px 30px; width: 95%;}

.meter1 {border:solid 1px black;width:100px;height:13px;padding: 0;}
.meter {border:solid 1px black;height:13px;padding: 0;}
.votes {background:#903;}