html, body {
  margin: 0;
  padding: 0;
}
body { 
  font: 62.5% Arial, Verdana, sans-serif; 
} 
#container {
  font-size: 1.2em;
  margin: 10px 2em;
}

h1 { 
  font-size: 2.5em; 
  margin-bottom: 0; 
} 
h2 { 
  font-size: 1.3em; 
  margin-bottom: .5em; 
} 

#header {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
}


.links {
  float: left;
  width: 200px;
  height: 900px;
  padding-right: 10px;
  border-right: 1px solid #eee;
  margin-right: 10px;
}

.link {
  margin: 10px;
}
.link h3 {
  font-weight: bold;
}


#reportcards {
  float: left;
  width: 500px;
}

#scores {
  float: left;
  width: 500px;
}


#moreTabs {
  float: left;
  width: 500px;
}



.highlighted {
  background-color: #dfd;
  font-style: italic;
}

table {
  border-collapse: collapse;
}
td {
	border-top-style:solid;
	border-color:#999999;
	border-width:1px;
	padding-top:2px;
	padding-bottom:2px;
	padding-right:10px;
}

.tr {
	background-color:#FFF;
}

.alt {
  background-color: #ccc;
}

.highlight {
  font-weight: bold;
  font-style: italic;
}

.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}

#footer {
	background-color: #CCC;
	height: 30px;
	width: 560px;
	position: relative;
	clear: both;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
}